TELEGRAM_BOT_TOKEN=PUT_YOUR_BOT_TOKEN_HERE
TELEGRAM_CHAT_ID=PUT_YOUR_CHAT_ID_HERE

POLL_INTERVAL_MS=20000

MIN_LIQUIDITY_USD=10000
MIN_VOLUME_5M_USD=2000
MAX_PAIR_AGE_MINUTES=5

NEW_POOL_PAGES=1
NETWORKS=
